[Unit]
Description=sangha daemon
After=network.target

[Service]
ExecStart=/home/sangha/go/bin/sangha
User=sangha
Group=users
RestartSec=5
Restart=on-failure
WorkingDirectory=/home/sangha

[Install]
WantedBy=multi-user.target
